.navbar {
  width: 100%;
  height: 100px;
  background-color: #cd7209;
  display: flex;
  justify-content: space-between; /* Ensure items are spaced evenly */
  align-items: center; /* Center items vertically */
  padding: 0 20px; /* Add padding to the sides */
}

.navbar .leftSide {
  display: flex;
  align-items: center;
}

.navbar .leftSide .logo {
  width: 150px; /* Adjust logo size */
}

.navbar .leftSide .textContainer {
  color: rgba(255, 255, 255, 0.865);
  font-size: xx-large; /* Make the text larger */
}

.navbar .rightSide {
  display: flex;
  align-items: center;
}

.navbar .rightSide .link {
  color: white;
  text-decoration: none;
  margin-right: 20px; /* Adjust spacing between links */
}

@media only screen and (max-width: 900px) {
  .navbar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar .rightSide {
    display: none; /* Hide links on smaller screens */
  }
}
